.faq-container {
    background: #0e0f1a;
    color: #e2e8f0;
    padding: 3rem 1rem;
  }
  
  .faq-header {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .faq-header h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .faq-underline {
    height: 4px;
    width: 60px;
    margin: 0.5rem auto;
    background: #00ffa2;
    border-radius: 5px;
  }
  
  .faq-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    max-width: 1200px;
    margin: auto;
  }
  
  .faq-card {
    background:black;
    border: 1px solid white;
    padding: 1.5rem;
    border-radius: 12px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .faq-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 255, 162, 0.2);
  }
  
  .faq-card p {
    color: white;
  }
  .faq-card h4{
    color: white;
    font-weight: bold;
  }
  
  .view-more-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .view-more-btn {
   background:  linear-gradient(to right, #0ea5e9, #3b82f6);
    color: #0e0f1a;
    padding: 0.75rem 2rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .view-more-btn:hover {
    opacity: 0.9;
    box-shadow: 0 0 12px #00ffa2aa;
  }
  
  