/* Home.css */
.home-wrapper {
  width: 100%;
  overflow-x: hidden;
}

.hero-section {
  position: relative;
  height: 90vh;
  width: 100%;
  overflow: hidden;
}

.background-video {
  position: absolute;      /* <-- this makes it float inside .hero-section */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}







.recaptcha-placeholder {
  background: #eee;
  text-align: center;
  margin: 0.75rem 0;
  padding: 1rem;
  color: #333;
  font-size: 0.9rem;
}

.cards-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  /* padding: 3rem 2rem; */
 width: 100%;
  z-index: 1;
  position: relative;
}

.card {
  background: white;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-weight: 500;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}
