.terms-container {
    max-width: 90vw;
    margin: auto;
    padding: 2rem;
    font-family: 'Segoe UI', sans-serif;
    color:white;
  }
  
  .terms-container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .terms-container section {
    margin-bottom: 2rem;
  }
  
  .terms-container h2 {
    font-size: 1.25rem;
    margin-top: 1.5rem;
    color:white;
  }
  
  .terms-container a {
    color: #007bff;
    text-decoration: none;
  }
  
  .terms-container a:hover {
    text-decoration: underline;
  }
  