html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.lux-whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  background-color: #25d366;
  border-radius: 50%;
  padding: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.lux-whatsapp-float:hover {
  transform: scale(1.1);
}

.lux-whatsapp-icon {
  width: 100px;
  height: 10rem;
  display: block;
}

